[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git://github.com/puppetlabs/puppetlabs-postgresql
[submodule "modules/firewall"]
	path = modules/firewall
	url = git://github.com/puppetlabs/puppetlabs-firewall
[submodule "modules/apache"]
	path = modules/apache
	url = git://github.com/makewhatis/puppetlabs-apache
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/koji"]
	path = modules/koji
	url = git://github.com/makewhatis/puppet-koji.git
[submodule "modules/concat"]
	path = modules/concat
	url = git://github.com/ripienaar/puppet-concat.git
